In [4]:
l= [1,2,3,4,5,6]
for x in l:
    print(x,type(x))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>

In [9]:
l1 = ["sudh","kumar","krish","naik"]
for i in l1:

['SUDH', 'KUMAR', 'KRISH', 'NAIK']

In [10]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [11]:
#if for loop able to complete itself then only else will execute
for i in l1:
    print(i)
else :
    print("do something")

sudh
kumar
krish
naik
do something

In [13]:
for i in l1:
    if i== "kumar":
        break
    print(i) 
else:
    print('execute this if for loop is able to complete itself')

sudh

In [17]:
for i in l1:
    if i=='kumar':
        continue
    print(i)
else:
      print('execute this if for loop is able to complete itself')

sudh
krish
naik
execute this if for loop is able to complete itself

In [18]:
range(5)

range(0, 5)

In [21]:
list(range(5))

[0, 1, 2, 3, 4]

In [22]:
list(range(-60,10,6))

[-60, -54, -48, -42, -36, -30, -24, -18, -12, -6, 0, 6]

In [26]:
list(range(len(l1)))

[0, 1, 2, 3]

In [31]:
for i in range(len(l1)):
                     print(l1[i])

sudh
kumar
krish
naik

In [38]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [35]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [42]:

for i in range(len(l1)-1,-1,-1):
    
    print(l1[i])

naik
krish
kumar
sudh

In [50]:
l2 = [23,5,45,56,6,67,67,78,87,8998,9,9,8]
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12]

In [53]:
for i in range(0,len(l2),2):
    print(l2[i])

23
45
6
67
87
9
8

In [54]:
result=0
for i in l2:
    result = result+i
result

9458

In [55]:
sum(l2)

9458

In [ ]:
d= {"name":"sudh",""}